@{
    ViewData["Title"] = "About";
 }
 <h2>@ViewData["Title"]</h2>
 <h3>@ViewData["Message"]</h3>

 <p>Criador @ViewData["Criador"].</p>
 
 <address>
     <strong>
        Mais Informações: <a href="https://www.linkedin.com/in/marcos-paulo-824861164/">Linkedin</a> 
     </strong>
 </address>



